Repository stellaGK/stella, pull requests merged in 2025-02, with the labels that each got.

#185 Since january 2025 the macos system on GitHub can not find the hdf5 libraries anymore during the compilation of stella.
  .github/workflows/check_stella.yml
  COMPILATION/CMakeLists.txt
Labels: bugfix

#186 Clean up compilation, and add makefile for Stellar
  COMPILATION/Makefile
  COMPILATION/Makefile.compilerflags
  COMPILATION/Makefile.externals
  COMPILATION/Makefile.externals.FORD
  COMPILATION/Makefile.externals.git_version
  COMPILATION/Makefile.externals.mini_libstell
  COMPILATION/Makefile.externals.neasyf
  COMPILATION/Makefile.externals.utils
  COMPILATION/Makefile.stella
  COMPILATION/Makefiles/Makefile.stellar
Labels: clean-up, stella review 07/2024

#187 183 Ensure that <nzed> is always an even integer.
  .github/workflows/check_stella.yml
  STELLA_CODE/grids/zgrid.f90
Labels: bugfix, stella review 07/2024

#191 Write apar(kx,ky,z) and bpar(kx,ky,z)
  STELLA_CODE/diagnostics/diagnostics_potential.f90
  STELLA_CODE/parameters/parameters_diagnostics.f90
  STELLA_CODE/stella.f90
Labels: enhancement, stella review 07/2024, diagnostics

#190 adding include guards for response matrix
  STELLA_CODE/gyrokinetic_terms/response_matrix.fpp
Labels: bugfix

#193 Move utils folder into STELLA_CODE folder.
  COMPILATION/CMakeLists.txt
  COMPILATION/Makefile.externals
  STELLA_CODE/utils/CMakeLists.txt
  STELLA_CODE/utils/command_line.fpp
  STELLA_CODE/utils/constants.fpp
  STELLA_CODE/utils/convert.f90
  STELLA_CODE/utils/define.inc
  STELLA_CODE/utils/fft_work.f90
  STELLA_CODE/utils/file_utils.fpp
  STELLA_CODE/utils/gauss_quad.f90
  STELLA_CODE/utils/job_manage.fpp
  STELLA_CODE/utils/linear_solve.f90
  STELLA_CODE/utils/makefile
  STELLA_CODE/utils/mp.fpp
  STELLA_CODE/utils/mp_lu_decomposition.fpp
  STELLA_CODE/utils/mt19937.f90
  STELLA_CODE/utils/netcdf_utils.fpp
  STELLA_CODE/utils/ran.fpp
  STELLA_CODE/utils/redistribute.f90
  STELLA_CODE/utils/spfunc.fpp
  STELLA_CODE/utils/spl.f90
  STELLA_CODE/utils/system_fortran.fpp
  STELLA_CODE/utils/text_options.f90
Labels: clean-up, stella review 07/2024

#198 Update default Miller parameters to those of the Cyclone Base Case (CBC)
  STELLA_CODE/geometry/geometry_miller.f90
Labels: clean-up
